.form{
    width: 600px;
    margin: 20px auto;
    border:1px solid red;
    padding: 20px;
    line-height: 40px;
}
h3{
    text-align: center;
}
.name,.club,.time{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    grid-gap: 10px;
}
input[type="text"], #clubApply{
    height:25px;
    width:80%;
}
.skills{
    display:grid;
    grid-template-columns: 40% 40% 20%;
    grid-gap:20px;
    margin-right: 20px;
}
#butt_submit{
    width: 100%;
    height:40px;
    background-color: yellow;
    border-color: white;
}
.item2{
    width: 400px;
    gap: 30px;
    display: flex;
    flex-wrap: nowrap;
    
}
.item1 div{
    width: 300px !important;
}
#huanchuon {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


